img {
    width: 300px;
    height: 400px;
  }

  p {
    color: rgba(255, 255, 255, 0.767);
    background-color: rgb(97, 3, 3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
  }
  #header {color:white;
    background-color: rgb(2, 3, 100);
  }
  .pink {
    background-color: rgb(2, 4, 139);
  }